.schedTime {
  font-weight: 500;
  font-size: 16px;
  text-decoration: underline;
}

.blockMargin {
  margin-right: 10px;
  margin-left: 10px;
}

.infoBorder {
  display: inline-block;
  width: 70%;
  margin-right: 10px;
  text-align: center;
  border: 3px solid #40a9ff75;
  border-radius: 15px;
}

.todoInput {
  margin-top: 15px;
  margin-bottom: 10px;
  border-bottom: 3px solid rgba(83, 167, 232, 0.65);
}

.todoList {
  height: 300px;
  margin-top: 4px;
  overflow-y: scroll;
  color: #4091f7;
  font-weight: bold;
}

.link {
  color: rgba(83, 167, 232, 0.8);
  font-weight: bold;
  font-size: 16px;
}

:global {
  .todoItem {
    .ant-input-affix-wrapper-disabled .ant-input {
      color: rgba(0, 0, 0, 0.25);
      text-decoration: line-through;
      background-color: rgba(255, 255, 255, 0);
      cursor: not-allowed;
    }

    .ant-input-affix-wrapper {
      align-items: flex-start;
      border-style: hidden;
    }
  }
}
