.blockMargin {
  display: flex;
  align-items: flex-start;
  height: 75px;
  margin-right: 3%;
  margin-left: 3%;
  border-bottom: 2px solid hsl(0, 11%, 89%);
}

.block__bar__info {
  display: inline-flex;
}

.block__bar {
  margin-right: 15px;
  padding-top: 1px;
  padding-left: 8px;
  background-color: #629ddc;
}

.block__info {
  margin-top: -5px;
}

.block__info__title {
  position: relative;
  color: #4a86c5;
  font-weight: bold;
  font-size: 16px;
}

.block__info__detail {
  font-size: 10pt;
}

.block__click {
  position: absolute;
  top: 2px;
  right: 3%;
}
