.icon {
  margin-right: 20px;
  font-size: 40px;
}

.title {
  display: inline-block;
  width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transform: translate(0, -60%);
}

.description {
  display: inline-block;
  width: 200px;
  margin-left: 10px;
  white-space: nowrap;
  //text-align: center;
  text-overflow: ellipsis;
  transform: translate(0, -90%);
}

.submit {
  margin-top: 10px;
}

input {
  max-width: 100%;
  padding: 6px;
  border: 1px solid #128ff2;
}

form {
  margin-bottom: 50px;
}
