.tabPane {
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.itemHeight {
  height: 45px;
}

.signInItem {
  display: inline-flex;
  flex-direction: row;
  align-content: baseline;
  justify-content: space-between;
  width: 100%;
}

.signMarkYes {
  padding: 10px 10px;
  background-color: rgba(117, 201, 227, 0.59);
}

.signMarkNot {
  padding: 10px 10px;
  background-color: rgba(248, 69, 96, 0.59);
}

.signDes {
  width: 50%;
}

.signExpir {
  width: 20%;
}

.signStatusYes {
  width: 10%;
}

.signStatusNot {
  width: 10%;
  color: red;
}
