.tabPane {
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.signInHead {
  display: inline-flex;
  flex-direction: row;
  align-content: baseline;
  width: 100%;
  padding: 5px;
  font-weight: bold;
  //background-color: #b8d9e899;
  border-bottom: 2px solid rgba(113, 123, 128, 0.7);
}

.markPad {
  padding: 10px 10px;
}

.itemHeight {
  height: 45px;
}

.signInItem {
  display: inline-flex;
  flex-direction: row;
  align-content: baseline;
  width: 100%;
}

.headDes {
  width: 60%;
  text-align: center;
}

.headExpir {
  width: 25%;
  text-align: center;
}

.headStatus {
  width: 15%;
  text-align: center;
}

.signMarkYes {
  padding: 10px 10px;
  background-color: rgba(117, 201, 227, 0.59);
}

.signMarkNot {
  padding: 10px 10px;
  background-color: rgba(248, 69, 96, 0.59);
}

.signDes {
  width: 50%;
  margin-left: 6%;
}

.signExpir {
  width: 25%;
  text-align: center;
}

.signStatusYes {
  width: 16%;
  text-align: center;
}

.signStatusNot {
  width: 16%;
  color: red;
  text-align: center;
}

.signButton {
  position: absolute;
  top: 10px;
  right: 5%;
}

.modal_title {
  text-align: center;
}

.modal_title_des {
  width: 50%;
}

.modal_table {
  width: 100%;
  padding: 10px 10px;
  text-align: center;
}
